# Dependencias
node_modules/

# Variables de entorno (NUNCA subir al repositorio)
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Sistema Operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
